body {
    font-family: Arial, sans-serif;
    background-color: #b8e9df;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    margin-bottom: 200px;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
    background-color: rgb(224, 90, 144);
}

th,
td {
    border: 1px solid #c0c4a8;
    padding: 10px;
}

th {
    background-color: #1b6555;
    color: white;
}

img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}