/* רקע כחול וטקסט לבן לכל הדף */
body {
    background-color: #1e3a8a;
    /* כחול כהה */
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

/* מסגרת שחורה לכל הטבלה */
table {
    border: 3px solid black;
    margin: 20px auto;
    width: 80%;
    border-collapse: collapse;
}

/* כל התאים */
th,
td {
    border: 1px solid black;
    padding: 10px;
    background-color: #3b82f6;
    /* כחול בהיר */
    color: white;
}

/* מסגרת שחורה לווידאו */
iframe {
    border: 2px solid black;
}

/* סעיף 13 – CLASS כחול בשביל כותרת הדף וכותרת הטבלה */
.blueTitle {
    background-color: blue;
    color: white;
    border: 2px solid black;
}

/* סעיף 14 – שורה מיוחדת עם רקע כחול בהיר, טקסט כחול כהה, מודגש וגדול */
.highlightRow {
    background-color: #cce8ff;
    /* כחול בהיר */
    color: darkblue;
    /* טקסט כחול כהה */
    font-weight: bold;
    /* טקסט מודגש */
    font-size: 18px;
    /* טיפה גדול יותר */
}