body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    text-align: center;
}

h1 {
    color: #0078d4;
    margin-bottom: 20px;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
}

th {
    background-color: #0078d4;
    color: white;
}

td {
    background-color: #ffffff;
}

iframe {
    border-radius: 10px;
}