body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
}

h1 {
    color: #2c3e50;
    margin: 20px 0;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 90%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #3f51b5;
    color: white;
    font-size: 18px;
}

td iframe {
    border-radius: 10px;
}

td img {
    width: 120px;
    border-radius: 10px;
}